<div class="flex-row">
  <form class="register-form" [formGroup]="registerForm">
    <h1 class="centered-horizontal">Register</h1>
    <div class="column-flex">
      <label for="name" class="margin-vertical-sm">Username</label>
      <input id="name" autocomplete="off" pInputText formControlName="username" >
      <div *ngIf="username.invalid && username.dirty">
        <small class="p-error" *ngIf="username.errors?.unique">
          Username has already existed
        </small>
        <small class="p-error" *ngIf="username.errors?.required">
          Username can not be empty
        </small>
      </div>
    </div>

    <div formGroupName="password">
      <div class="column-flex">
        <label for="password" class="margin-vertical-sm">Password</label>
        <input formControlName="password" id="password"
               pInputText type="password" autocomplete="new-password">
      </div>

      <div class="column-flex">
        <div class="margin-vertical-sm">Retype Password</div>
          <input formControlName="retypePassword" pInputText type="password"
                 autocomplete="new-password">
      </div>

      <div *ngIf="password.invalid && (firstPassword.dirty || firstPassword.touched)
                                   && (retypePassword.dirty || retypePassword.touched)">
        <small class="p-error" *ngIf="password.errors?.passwordConfirm">
          Confirm password does not match.
        </small>
      </div>
    </div>

    <div class="column-flex">
      <div class="margin-vertical-sm">Display Name</div>
      <input pInputText formControlName="displayName">
      <div *ngIf="displayName.invalid && displayName.dirty">
        <small class="p-error" *ngIf="displayName.errors?.unique">
          Display name has already existed
        </small>
        <small class="p-error" *ngIf="displayName.errors?.required">
          Display name can not be empty
        </small>
      </div>
    </div>

    <div class="column-flex">
      <div class="margin-vertical-sm">Bio</div>
      <input pInputText formControlName="bio">
    </div>

    <div class="centered-horizontal margin-vertical-sm">
      <button pButton label="Register" class="btnRegister" [disabled]="!registerForm.valid"  (click)="register()"></button>
    </div>

  </form>
</div>
