<div class="flex-row">
  <div class="register-form">
    <h1 class="centered-horizontal">Register</h1>
    <div class="column-flex">
      <div class="margin-vertical-sm">Username</div>
      <input pInputText [formControl]="username">
      {{username.invalid}}
      {{username.errors?.uniqueUsername}}
    </div>

    <div class="column-flex">
      <div class="margin-vertical-sm">Password</div>
      <input pInputText type="password" [(ngModel)]="password" autocomplete="new-password">
    </div>

    <div class="column-flex">
      <div class="margin-vertical-sm">Retype Password</div>
      <input pInputText type="password" [(ngModel)]="retypePassword" autocomplete="new-password">
    </div>

    <div class="column-flex">
      <div class="margin-vertical-sm">Display Name</div>
      <input pInputText [(ngModel)]="newUser.displayName">
    </div>

    <div class="column-flex">
      <div class="margin-vertical-sm">Bio</div>
      <input pInputText [(ngModel)]="newUser.bio">
    </div>

    <div class="centered-horizontal margin-vertical-sm">
      <button pButton label="Register" class="btnRegister" (click)="register()"></button>
    </div>

  </div>
</div>
