<div class="margin-sm">For non authenticated user</div>
<a routerLink="/login">
  <div class="panel centered-horizontal-vertical margin-sm">Login</div>
</a>

<a routerLink="/register">
  <div class="panel centered-horizontal-vertical margin-sm">Register</div>
</a>

<a routerLink="/">
  <div class="panel centered-horizontal-vertical margin-sm">Global Feed</div>
</a>

<div class="margin-sm">Require Authentication</div>

<a routerLink="/wall">
  <div class="panel centered-horizontal-vertical margin-sm">Wall</div>
</a>

<a routerLink="/account">
  <div class="panel centered-horizontal-vertical margin-sm">Account</div>
</a>

<a routerLink="/">
  <div class="panel centered-horizontal-vertical margin-sm">Global Feed</div>
</a>

<a routerLink="/subscriptions">
  <div class="panel centered-horizontal-vertical margin-sm">Subscriptions</div>
</a>

