<div>
  <label class="margin" for="title">Title</label>
  <input class="margin"
         id="title" type="text" pInputText [(ngModel)]="txtTitle">
</div>
<div>
  <label class="margin" for="content">Content</label>
  <textarea class="margin txt-content"
            id="content" type="text" pInputTextarea [(ngModel)]="txtContent">
  </textarea>
</div>
<div class="margin">
  <p-button label="Submit" (click)="onSubmit()"></p-button>
</div>

<div class="margin">
  <p-button label="Open Dialog" (click)="showDialog()"></p-button>
</div>

<div class="articles" >
  <div class="article" *ngFor="let article of articles">
    <div class="article-detail">
      <div>{{article.id}}</div>
      <div>{{article.title}}</div>
      <div>{{article.content}}</div>
    </div>
    <div class="article-controler">
      <p-button label="Delete" (click)="onDelete(article.id)"></p-button>
    </div>

  </div>
</div>

