<h1 class="margin">Wall</h1>
<div class="margin">
  <p-button label="Submit" (click)="onSubmit()"></p-button>
</div>

<div class="margin">
  <p-button label="Open Dialog" (click)="showDialog()"></p-button>
</div>

<div class="articles" >
  <div class="article" *ngFor="let article of articles">
    <div class="article-detail">
      <div>{{article.id}}</div>
      <div>{{article.title}}</div>
      <div>{{article.content}}</div>
    </div>
    <div class="article-controller">
      <p-button label="Delete" (click)="onDelete(article.id)"></p-button>
    </div>

  </div>
</div>

