<h1 class="margin">Wall</h1>

<div class="margin">
  <p-button label="Add Article" (click)="showAddArticleDialog()"></p-button>
</div>

<div class="articles" >
  <div class="article" *ngFor="let article of articles; index as i">
    <div class="article-detail">
      <div>{{article.id}}</div>
      <div>{{article.title}}</div>
      <div>{{article.content}}</div>
    </div>
    <div class="article-controller">
      <button pButton class="btnControl" label="Edit" (click)="onEdit(i)"></button>
      <button pButton class="btnControl" label="Delete" (click)="onDelete(i)"></button>
    </div>

  </div>
</div>

