<div class="articles" >
  <div class="article" *ngFor="let article of articles; index as i">
    <div class="article-detail">
      <div>{{article.id}}</div>
      <h2>{{article.title}}</h2>
      <div>{{article.content}}</div>
      <div class="text-size-large">Author: <a [routerLink]="['/author', article.author.url]" class="clickable-link">{{article.author.name}} </a></div>
    </div>
    <div class="article-controller">
      <button pButton [ngClass]="{'p-button-danger': article.reacted}"
              class="btnControl"
              label="&zwnj;" (click)="onReact(i)">React({{article.react}})</button>
    </div>
  </div>
</div>
