.header {
  padding: 5px;
  display: flex;
  overflow: visible;
  background-color: #434950;
  justify-content: space-between;
}

.brand-name {
  margin-left: 10px;
  font-size: xx-large;
  color: white;
  text-underline-style: none;
}
