<h1 class="margin-sm">Global Feed</h1>
<div class="articles" >
  <div class="article" *ngFor="let article of articles; index as i">
    <div class="article-detail">
      <div>{{article.id}}</div>
      <div>{{article.title}}</div>
      <div>{{article.content}}</div>
      <div>Author: {{article.author}}</div>
      <div>React: {{article.react}}</div>
    </div>
    <div class="article-controller">
      <button pButton [ngClass]="{'p-button-danger': article.reacted}"
              class="btnControl"
              label="React" (click)="onReact(i)"></button>
    </div>
  </div>
</div>
