/* You can add global styles to this file, and also import other style files */
@import url('../node_modules/primeng/resources/themes/bootstrap4-dark-blue/theme.css');

.column-flex {
  display: flex;
  flex-direction: column;
}

.centered-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.centered-horizontal {
  display: flex;
  justify-content: center;
}

.centered-horizontal-vertical{
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-vertical-sm{
  margin-top: 10px;
  margin-bottom: 10px;
}

.float-right {
  float: right;
}

.margin-ssm{
  margin: 3px;
}

.margin-sm {
  margin: 5px;
}

body{
  background-color: #20262e;
  color: white;
  border: white;
  margin: 0px;
}

.text-white, a{
  color: white;
}
