<form>
  <div class="grid-container">
    <label class="label" for="title">Title</label>
    <div class="column-flex">
      <input class="txtTitle" id="title" type="text" required="required"
             pInputText #titleRef="ngModel" name="title" maxlength="255"
             [(ngModel)]="article.title">
      <app-field-error-msg [fieldRef]="titleRef"></app-field-error-msg>

    </div>
    <label class="label" for="txtContent">Content</label>
    <div class="column-flex">
      <textarea class="txtContent" id="txtContent" type="text"
                required="required" pInputTextarea name="content" maxlength="1000"
                [(ngModel)]="article.content" #contentRef="ngModel"></textarea>
      <app-field-error-msg [fieldRef]="contentRef"></app-field-error-msg>
    </div>

    <div class="btnSave">
      <p-button (appSubmitIfValid)="save()">Save Article</p-button>
    </div>
  </div>
</form>


